.page {
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 260px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
}

.hero-top {
  top: calc(50% - 88px);
  right: 0;
}

.hero-bottom {
  bottom: 200px;
  letter-spacing: 0.08em;
}

.hero-main-title {
  font-size: 64px;
}

.hero-main-subheading {
  font-size: 36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-margin {
  width: 100%;
  height: 3000px;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--section-bg);
  position: relative;
  overflow: hidden;
}

/* optimize later on, make them components */

.about-section .section-header,
.about-section .section-title-decoration {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.about-section .section-title-decoration.bar-three {
  background-color: var(--color-primary);
}

.works-section .section-header,
.works-section .section-title-decoration {
  color: var(--color-green);
  border-color: var(--color-green);
}

.works-section .section-title-decoration.bar-three {
  background-color: var(--color-green);
}

.contact-section .section-header,
.contact-section .section-title-decoration {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.contact-section .section-title-decoration.bar-three {
  background-color: var(--color-blue);
}

.finally-section {
  background-color: var(--final-section);
}

.finally-section .section-header,
.finally-section .section-title-decoration,
.finally-section .text {
  color: var(--color-cream);
  border-color: var(--color-cream);
}

.finally-section .section-title-decoration.bar-three {
  background-color: var(--color-cream);
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress bar */
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  transform-origin: top center;
  transform: scaleY(1);
}

.pink-background {
  background-color: var(--color-primary);
}

.green-background {
  background-color: var(--color-green);
}

.blue-background {
  background-color: var(--color-blue);
}

.cream-background {
  background-color: var(--color-cream);
}

.section-header {
  position: relative;
  width: 100%;
  height: 84vh;
  padding: 30% 10% 0;
  border-bottom: 2px solid;
  transition: color 0.3s cubic-bezier(0.33, 0.25, 0.07, 0.97),
    background-color 0.3s cubic-bezier(0.33, 0.25, 0.07, 0.97);
  text-transform: uppercase;
}

.header-top {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-title-text {
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg) translateZ(0);
  z-index: 2;
  top: 0;
  left: 0;
}

.section-title-decoration {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  left: 0;
  border: 1px solid;
  transform-origin: left;
  transform: skewY(-25deg) translateZ(0);
}

.section-title-decoration.bar-one {
  top: 0;
}

.section-title-decoration.bar-two {
  top: 80px;
}

.section-title-decoration.bar-three {
  top: 80px;
  transform: skewY(25deg) translateZ(0);
}

.section-number {
  position: absolute;
  display: block;
  bottom: 24px;
  right: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}

.section-content {
  width: 100%;
  padding: 160px 8% 24px;
}

.section-content .text-head:first-child {
  margin-top: 0;
}

.section-content .text-head {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  margin-top: 80px;
}

.section-content .text {
  line-height: 2;
  margin-top: 18px;
}

@media (max-width: 968px) {
  .section {
    width: 100%;
  }

  .progress-bar-wrapper-left {
    right: 0;
    left: auto;
  }
}
