.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 9999999;
}

.sun-container,
.moon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  margin: 0 16px;
  border-radius: 999px;
  border: none;
  background-color: var(--color-primary);
  box-shadow: 0 0 6px rgba(var(--color-black), 0.2);
}

.toggle-bar {
  opacity: 0;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.9);
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-base);
  transition: all 0.2s ease-in-out;
}

.slide {
  left: 30px;
}

@media (max-width: 968px) {
  .toggle-bar {
    top: 2.5%;
    right: 5.5%;
  }

  .toggle-button {
    width: 48px;
    height: 24px;
    margin: 0 10px;
  }

  .toggle-circle {
    left: 4px;
    width: 16px;
    height: 16px;
  }

  .slide {
    left: 29px;
  }

  .sun-container,
  .moon-container {
    height: 21px;
    width: 21px;
  }

  .toggle-bar svg {
    transform: scale(0.785);
  }
}
